

 <div class="large-3 large-centered columns hero">
   <div class="ptpstory">
     <br><br><br>
     <center>
       <span class="smalltext">IT ALL STARTED BACK IN</span><br>
       <span class="largetext">1995</span><br><br>
       <span class="smalltext">
       WHEN LUANNE STOVAL<br>
       DECIDED TO BAKE A BUTTERMILK<br>
       PIE ON THE MLK HOLIDAY.<br>
       <%= image_tag("mixingbowl.png", :size => "60x60")%><br>
       INSPIRED BY DR. KINGS SPEECH<br>
       SHE WROTE THE WORDS<br>
     </span>
     <span class="medtext">"I HAVE A DREAM"</span><br>
     <span class="smalltext">IN RED ICING ON TOP.</span><br>
     <%= image_tag("pen.png", :size => "40x40")%><br><br>
     <span class="readtext">READ THE FULL STORY...</span>
     </center>
   </div>
</div>


<div class="large-12 large-centered columns secondcontainer">
  <div class="large-9 large-centered columns secondcontainer2">
  </div>
</div>

