// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventform {
  width: 600px;
  height: 660px;
  background: rgba(153, 32, 0, .7);
  display: table;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}


.hosthero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(hostsocialbg.jpg);
  width: 100%;
  height: 660px;
}

.stay-on-line{
  display: inline-block;
}

.loginhero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(loginbg2.jpg);
  width: 100%;
  height: 700px;
}

.fa.fa-edit {
font-size: 2.5em;
margin-top: 5px;
margin-left: -20px;
position: absolute;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;
}

.fa.fa-calendar {
font-size: 2.3em;
margin-top: 5px;
margin-left: -20px;
position: absolute;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;
}

.fa.fa-clock-o {
font-size: 2.5em;
margin-top: 5px;
margin-left: -20px;
position: absolute;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;
}

.fa.fa-info-circle {
font-size: 2.4em;
margin-top: 5px;
margin-left: -20px;
position: absolute;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;
}

.createbutton {
background-color: rgba(253, 242, 211, .9);
color: #7a5934;
}


.findhero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(findsocialbg.jpg);
  width: 100%;
  height: 660px;
}

.createbutton:hover {
  color: rgba(253, 242, 211, .9);
  background-color: #7a5934;
}