

.top-bar {
height: 57px;
background: none;
display: table;
margin: 0 auto;

}

.top-bar-section {
  background-color: #fdf2d3;
  width: 100%;
  height: 57px;

}



.top-bar-section ul li{
  background: none;
}

.top-bar-section ul li a{
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #39281c;
}

.signinup {
  color: #992000;
  background-color: #fdf2d3;
}

.top-bar-section li.hover > a:not(.button) {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button) {
/*  padding: 0 0.3975rem;*/
  line-height: 3.1925rem;
  background: #fdf2d3;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #992000;
}

.piepad {
  padding: 0 2.0000rem;
}

.navvy {
  background-color: #fdf2d3;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-image: url(ptphero2.jpg);
width: 100%;
height: 610px;
}




.ptpstory {
  width: 400px;
  height: 610px;
  background: rgba(153, 32, 0, .5);
  display: table;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
}

.largetext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 71px;
  letter-spacing: 5px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 3px;
}

.smalltext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 500;
}

.medtext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 3px;
}

.readtext {
  font-family: 'Maven Pro', sans-serif;
  color: #dbcca5;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 700;
  text-shadow: 2px 2px #39281c;
}

.container2 {
  background-color: #fdf2d3;
  height: 100%;
  width: 100%;
}

