

.top-bar {
text-align:center;
height: 55px;
background: none;
}

.top-bar-section {
  display: inline-block;
  background-color: #fdf2d3;
  height: 55px;
  width: 1550px;
}


.top-bar-section ul li{
  background: none;
}

.top-bar-section ul li a{
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 21px;
  color: #351600;
}

.top-bar-section li.hover > a:not(.button) {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 2.3975rem;
  line-height: 2.8125rem;
  background: #fdf2d3;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #992000;
}

.piepad {
  padding: 0 4.0000rem;
}

.navvy {
  background-color: #fdf2d3;
  height: 55px;
  width: 88%;
}

.hero {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-image: url(ptphero.jpg);
width: 100%;
height: 550px;
}

.signinup {
  color: #fdf2d3;
}

.top-bar-section .signinup{
  color: #fdf2d3;
}

.ptpstory {
  width: 400px;
  height: 495px;
  background: rgba(153, 32, 0, .6);
  position: absolute;
  margin-top: 55px;
  margin-left: -60px;
}


