body {
  background-color: #fdf2d3;
}

.top-bar {
  height: 57px;
  background: none;
  display: table;
  margin: 0 auto;

}

.top-bar-section {
  background-color: #fdf2d3;
  width: 100%;
  height: 57px;

}

.top-bar-section ul li{
  background: none;
}

.top-bar-section ul li a{
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #39281c;
}

.signinup {
  color: #992000;
  background-color: #fdf2d3;
}

.top-bar-section li.hover > a:not(.button) {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button) {
/*  padding: 0 0.3975rem;*/
  line-height: 3.1925rem;
  background: #fdf2d3;
  border: solid;
  border-color: #fdf2d3;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #fdf2d3;
  color: #992000;
  border: solid;
  border-color: #992000;
}

.piepad {
  padding: 0 2.0000rem;
  background: none;
}

.piepad li:
.navvy {
  background-color: #fdf2d3;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(ptphero2.jpg);
  width: 100%;
  height: 660px;
}

.ptpstory {
  width: 400px;
  height: 660px;
  background: rgba(153, 32, 0, .5);
  display: table;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
}

.largetext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 71px;
  letter-spacing: 5px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 3px;
}

.smalltext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 500;
}

.medtext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 60px;
  font-weight: 700;
  margin-right: 3px;
}

.headertext {
  font-family: 'Maven Pro', sans-serif;
  color: #fdf2d3;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 700;
  text-shadow: 1px 1px #39281c;
}

.readtext {
  font-family: 'Maven Pro', sans-serif;
  color: #dbcca5;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 700;
  text-shadow: 2px 2px #39281c;
}

.secondcontainer {
  background-color: #fdf2d3;
  height: 400px;
  width: 100%;
}

.secondcontainer2 {
  background: rgba(174, 128, 76, .7);
  height: 380px;
  margin-top: 20px;
  border-radius: 2px;
}

.socialimage {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 50px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.socialtext {
  display: inline;
  float: left;
  margin-top: 55px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #39281c;
  font-weight: 300;
  width: 450px;
  text-align: center;
  margin-left: 50px;
  line-height: 30px;
}

.socialtext2 {
  font-weight: 600;
}

.getstarted {
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  color: #39281c;
  border-width: 2px;
  border-color: #39281c;

}

.getstarted:active {
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  color: #39281c;
  border-width: 2px;
  border-color: #39281c;

}

.getstarted:visited {
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  color: #39281c;
  border-width: 2px;
  border-color: #39281c;

}

.getstarted:hover {
  background-color: #ae804c;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  color: #39281c;
  border-width: 2px;
  border-color: #39281c;

}

.thirdcontainer {
  background-color: #fdf2d3;
  height: 400px;
  width: 100%;
}

.thirdcontainer2 {
  height: 380px;
  margin-top: 20px;
  border-radius: 2px;
}

.hosting {
  font-family: 'Fjalla One', sans-serif;
  color: #39281c;
  text-align: center;
  font-size: 25px;
}

hr {
  border-color: #39281c;
}

.welcometext {
  text-align: center;
  margin-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #39281c;
  font-weight: 400;

}

.youreventstext {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #39281c;
  background: rgba(153, 32, 0, .7);

}

.eventsattending {
  text-align: center;
  font-weight: 300;
}

.eventshosting {
  text-align: center;
  font-weight: 300;
  text-align: center;
}

button.radius, .fblogin {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #fdf2d3;
  background: rgba(153, 32, 0, .8);

}

button.radius, .button.radius {
  font-size: 16px;
}

.fa.fa-facebook {
font-size: 4em;
}

.orcircle {
background: rgba(253, 242, 211, .7);
border-radius: 200px;
width: 50px;
height: 50px;
letter-spacing: 1px;
font-size: 18px;
color: brown;
z-index: 10;
}

.orline {
  border-width: 1px;
  border-color: rgba(253, 242, 211, .6);
  position: absolute;
  top: 13%;
  right: 62%;
  width: 30%;
}

.orline2 {
  border-width: 1px;
  border-color: rgba(253, 242, 211, .6);
  position: absolute;
  top: 13%;
  left: 62%;
  width: 30%;
}

.ortext {
  z-index: 100;
}

.formfieldstyle {
border-radius: 3px;
border-radius: rgba(253, 242, 211, .6);
}

.fa.fa-envelope {
font-size: 2em;
margin-top: 5px;
margin-left: 25px;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;

}

.fa.fa-lock {
font-size: 2.5em;
margin-top: 5px;
margin-left: 25px;
color: rgba(253, 242, 211, .9);
text-shadow: 1px 1px #39281c;
}

.rmeposition {
  margin-left: 80px;
}

.rmeposition2 {
  margin-right: 5px;
}

button.radius, .fblogin:hover {
  font-size: 16px;
  color: #fdf2d3;
  background: rgba(174, 128, 76, .9);

}

button.radius, .fblogin:active {
  font-size: 16px;
  color: #fdf2d3;
  background: rgba(174, 128, 76, .9);

}


label {
  color: #fdf2d3;
  text-shadow: 1px 1px #39281c;
}

a {
color: #fdf2d3;
}
