

.top-bar {
text-align:center;
height: 50px;
background: none;
}

.top-bar-section {
  display: inline-block;
  background-color: white;
}


.top-bar-section ul li{
  background: none;
}

.top-bar-section ul li a{
  background: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: brown;
}

.top-bar-section li.hover > a:not(.button) {
  background-color: white;
  color: red;
  border: solid;
  border-color: white;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 2.9975rem;
  line-height: 2.8125rem;
  background: white;
  border: solid;
  border-color: white;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: white;
  color: brown;
  border: solid;
  border-color: red;
}

.piepad {
  padding: 0 4.0000rem;
}

